
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.brand-logo img {
    padding-left: 30px;
    padding-bottom: 3px;
    padding-top: 5px;
}

.ul li {
    letter-spacing: 1px;
}

.nav-wrapper {
    top: 0;
    position: fixed;

}

.nav-wrapper ul a {
    font-size: 1.4rem;
    font-weight: bold;
}

.menu.scrolled {
    background-color: rgba(0, 0, 0, 0.25) !important;
    -webkit-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.menu {
    background-color: rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    height: 68px;
}


.background-image {

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 51%, 0 40%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 51%, 0 40%, 0 0);
    background-image: url('../img/pogled2.jpg');
    /* background-size: cover; Ono ne moze jer se ne vidi cela slika */ 
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-position: top; /* Ovo ga stavlja da je zalepljeno za gornji deo diva */
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    z-index: -1;
    top: 0;
    /* -webkit-filter: blur(2px);filter: blur(2px); */

}

#naslovi{
    display: inline-block;
    margin-top: 120px;
}

#naslovi h2{
    margin-bottom: 10px;
}

#naslovi hr{ 
    margin-top: 0px;
    border: 0; 
    height: 1px; 
    background: #333; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

.content h1 {
    padding-top: 4rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.9), 
    0px 8px 13px rgba(0,0,0,0.4),
    0px 18px 23px rgba(0,0,0,0.4);
}

.content p {
    margin-bottom: 25px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.9), 
                0px 8px 13px rgba(0,0,0,0.4),
                0px 18px 23px rgba(0,0,0,0.4);
}

.razmak{
    padding-top: 25px;
}

.razmak i{
    font-size: 2rem;
}

.showcase{
    padding-top: 5%;
}

.info h2{
    margin-top: 320px;
}

.wrapper-3 span {
    font-weight: bolder;
    color: #f89b9b;
}

.wrapper-3 a {
    text-decoration: none !important;
}

.wrapper-3 {
    color: #fff;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
}

.wrapper-3 div {
    padding: 3em;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .30);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .30);
}

.wrapper-3 h2 {
    padding-bottom: 0px;
    margin-bottom: 5px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4),
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 10px 15px rgba(0, 0, 0, 0.1) !important;
}

.wrapper-3 hr {
    width: 200px;
    float: left;
    color: #333;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    border: 0;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.box-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    background-color: #002079;
    min-height: 400px;

}

.box-3 {
    padding-top: 2rem !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    grid-area: 'box-3';
    background-color: #c3010d;
}

.box-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    grid-area: 'box-2';
    background-color: #ffffff;
    border: 1px solid black;

}

#mape{
    border-radius: 10%;
    
}

.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg);
}

.polaroid .container {
    text-align: center;
    margin-top: 3px;
    padding-bottom: 7px;
}

.polaroid2 {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}
  
.polaroid2 .container {
    text-align: center;
    margin-top: 3px;
    padding-bottom: 7px;
}

.podnaslov{
    font-size: 2rem;
    font-style: italic;
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}

#test{
    padding-top: 9%;
}

#test1{
    padding-top: 6%;
}

 /* Style the Image Used to Trigger the Modal */
 #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ddd;  
    padding: 5px;
  }
  
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

  /* #myImg:hover {opacity: 0.7;} */
  
  /* The Modal (background) */
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 25%;
    margin-right: 25%;
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0, 0, 0, 0.60); /* Black w/ opacity */
    border-radius: 5%;
  }
  
  /* Modal Content (Image) */
  .modal1-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal1-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 105px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 

  footer {
    -webkit-clip-path: polygon(50% 0%, 100% 12%, 100% 100%, 0 100%, 0 12%);
    clip-path: polygon(50% 0%, 100% 12%, 100% 100%, 0 100%, 0 12%);
    background: rgb(0,32,121);
    background: linear-gradient(90deg, rgba(0,32,121,1) 0%, rgba(0,32,121,1) 18%, rgba(0,75,153,1) 53%, rgba(0,129,193,1) 79%, rgba(0,115,226,1) 100%);
 
    /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(300deg, #e52d27 15%, #b31217 74%); */
}


footer .card{
    margin-top: 70px;
}

#razmak{
    margin: 7px;
}

#card-action{
    text-transform: none;
    color: black;
}

#card-action:hover{
    color: rgba(0, 0, 0, 0.548);
}



@media (max-width: 950px) {
    .background-image {

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 50%, 0 40%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 50%, 0 40%, 0 0);
    }

    .brand-logo img {
        padding-left: 0px;
        padding-bottom: 3px;
        padding-top: 5px;
    }

    #obeogradu h2{
        font-size: 3.2rem;
    }

    .info h2 {
        margin-top: 210px;
    }

    #položaj h2{
        font-size: 3rem;
    }
    .wrapper-3 .box-1,
    .wrapper-3 .box-2,
    .wrapper-3 .box-3 {
        padding-left: 18px;
        padding-right: 18px;
    }

    .box-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        min-height: 200px;
        padding-top: 50px !important;
    }

    .box-2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
        min-height: 200px;
    }

    .box-3 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        min-height: 200px;
        padding-top: 50px !important;
    }

    .col {
        margin-top: 20px;
    }


    footer {
        -webkit-clip-path: polygon(50% 0%, 100% 8%, 100% 100%, 0 100%, 0 8%);
        clip-path: polygon(50% 0%, 100% 8%, 100% 100%, 0 100%, 0 8%);
        background: rgb(0,32,121);
        background: linear-gradient(90deg, rgba(0,32,121,1) 0%, rgba(0,32,121,1) 18%, rgba(0,75,153,1) 53%, rgba(0,129,193,1) 79%, rgba(0,115,226,1) 100%);
        /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* background: linear-gradient(300deg, #e52d27 15%, #b31217 74%); */
    }
}
